{% extends "base.html" %}

{% block head %}
{{ form.media }}
<script type="text/javascript">
    $(function() {
        $('#id_email').focus();
    });
</script>
{% endblock head%}

{% block main-panel %}
    <br><br>
    <div class="errorlist" style="text-align: center;">{{ form.non_field_errors }}</div>
    <form method="POST">
	<table class="table-form" style="width:400px; margin-left: auto; margin-right: auto;"> 
		<tbody> 
        <tr><th colspan="3" class="ui-corner-top" style="text-align:center;"><h3>{{ title }}</h3></th></tr>
        {% for field in form.visible_fields %}
        <tr>
            <td width="100px" style="padding-right:12px; text-align:right;">{{ field.label }}</td>
            <td>{{field.errors}}{{ field }}</td>
            <td width="118px" style="vertical-align: top;">&nbsp;{{ field.help_text }}</td>
        </tr>
        {% endfor %}

		<tr> 
		    <td colspan="2" style="text-align:right;"> 
		        {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% csrf_token %}
                <input type="submit" id="submit" class="submit" value="Login">
		    </td> 
		    <td>&nbsp;</td>
		</tr>    
        </tbody> 
		<tfoot> 
    		<tr>
    		    <td colspan="3" style="padding-left: 12px" class="ui-corner-bottom"><a href="{% url security_password_reset %}">I forgot my password</a></td>
    		</tr>
		</tfoot> 
	</table>
	</form>
    <br /> 
</div> 

{% endblock main-panel %}